<header>
  <div class="logo">
    <a href="/">Members Only</a>
  </div>
  <nav>
    <ul>
      <li><a href="/">Messages</a></li>
      <% if (user) { %>
        <li><a href="/new-message">New Message</a></li>
        <% if (user.status === "member") { %>
          <li><a href="/become-admin">Become an Admin</a></li>
        <% } else if (user.status === "guest") { %>
          <li><a href="/join-club">Join Club</a></li>
        <% } %>
        <li><a href="/log-out">Log Out</a></li>
      <% } else { %>
        <li><a href="/login">Login</a></li>
        <li><a href="/sign-up">Sign Up</a></li>
      <% } %>
    </ul>
  </nav>
</header>
