<header>
  <div class="logo">
    <h1>Members Only</h1>
  </div>
  <nav>
    <ul>
      <% if (user) { %>
        <li><a href="/log-out">Log Out</a></li>
      <% } else { %>
        <li><a href="/login">Login</a></li>
        <li><a href="/sign-up">Sign Up</a></li>
      <% } %>
    </ul>
  </nav>
</header>
