<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/header.ejs") %>
    
    <main>
      <% if (user.status === "member") { %>
        <h2>Congratulations! You just joined the secret club!</h2>
      <% } else if (user.status === "admin") { %>
        <h2>Congratulations! You just become an admin!</h2>
      <% } %>
    </main>
  </body>
</html>
