<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/header.ejs") %>
    
    <main>
      <h2>Congratulations! You just joined the secret club!</h2>
    </main>
  </body>
</html>
