<!DOCTYPE html>
<html>
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/header.ejs") %>
    
    <main>
      <% if (user) { %>
        <div class="form-container">
          <h1>Join Secret Club</h1>
          <form method="post">
            <div class="form-group">
              <input
                type="text"
                name="member_code"
                id="member_code"
                placeholder="Enter secret code to join secret club"
              />
            </div>
            <button type="submit">Submit</button>
          </form>
        </div>
        <% } else { %>
        <h1>You must login to see this page</h1>
      <% } %>
    </main>
  </body>
</html>
