<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/header.ejs") %>
    
    <main>
      <div class="signup-success">
        <h2>Your account has been created</h2>
        <a href="/login">Click here to login to your account</a>
      </div>
    </main>
  </body>
</html>
