<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <h1>Login</h1>
    <form method="post">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" />
      </div>
      <button type="submit">Login</button>
    </form>
  </body>
</html>
